.hello{
    height:100%;
    background-image: url(Rocco.jpg);
    background-repeat: none;
    background-size:cover;
   
       cursor:pointer;
       /* float:middle; */


       
}

       ul{
           list-style:square;
}
.description {
font-size:20px;
font-style:none;
font-family: cursive;
 line-height: 20px;   
color:#44051b;
text-align: center;
text-transform:capitalize;
word-spacing: 30px; 
text-shadow: -2px 2px 3px #6f85c3;
}

.highlight{ 
    outline: none;
}

h1{
    text-align:center;
}



